header {
  background-color: #272626;
  color: white;
  text-align: center;
}
header h1 {
  font-family: 'Outfit', sans-serif;
  font-weight: 900;
  text-decoration: underline solid rgb(255, 255, 255);
}

.fa-effects:hover{
  cursor:grab;  
  font-size: 1.5rem;
}